<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page!</title>
    <link rel="stylesheet" th:href="@{../../../../resources/css/index.css}">
    <link rel="stylesheet" th:href="@{../../../../resources/css/buttons.css}">
</head>
<body>
<div th:if="${people.size() > 0}">
    <div id="peopleList">
        <div th:each="person : ${people}">
            <a th:href="@{/people/{id}(id=${person.getId()})}"
               th:text="${person.getName()} + ', ' + ${person.getAge()}">user</a>
        </div>
    </div>

    <hr>
</div>

<a href="/people/new" class="button-3" role="button">Create new person</a>
</body>
</html>